fastapi==0.115.5
uvicorn==0.30.6
pydantic==2.9.2
pydantic-settings==2.6.1
sqlalchemy==2.0.36
alembic==1.14.0
pg8000==1.31.2
google-cloud-sql-connector==1.14.0
google-cloud-pubsub==2.26.0
google-auth==2.36.0
requests==2.32.3
telethon==1.38.1
openai==1.52.0
python-dotenv==1.0.1
